# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="postgresql://postgres:密碼@db:5432/資料庫名稱"
# 因為是 Docker 所以不是用 localhost 要用 docker-compose 定義的 db 

DATABASE_NAME="" # 資料庫名稱
DATABASE_USER="" # 使用者名稱
DATABASE_PASSWORD="" # 密碼

JWT_SECRET="" #自定義key
